@use "../abstract/variables" as *;

// GC Image


.about {
  height: fit-content;
}

.about__subtitle, .about__title {
 text-align: center;
}

.about__content {
  height: 100%;
  justify-content: space-around;
  gap: 25px;

  .about__header {
    gap: 10px;
  }
}

.guide-card__media {
  width: 150px;
  height: 150px;
}


.guide-card__media img {
  width: 150px;
  height: 150px;
  
  object-fit: cover;
  display: block;
}

.guide-card__desc {
  padding: 10px;
  text-wrap: wrap;
  width: 100%;
}


.about__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 100%;
  


  // & > :nth-child(even) {

  // }

  // & > :nth-child(odd) {
  //   box-shadow: -10px 10px 20px rgba($semidark, 0.5);
  //   border: none;
  // }



  .guide-card {
    justify-content: space-between;
    gap: 20px;
    padding: 20px 10px;
    max-width: 300px;
    flex-shrink: 1;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    box-shadow: 10px 10px 20px rgba($semidark, 0.5);
    border: none;
   
  
    &:hover {
      transform: translateY(-5px);
    }

 &:hover .guide-card__name {

      // border-bottom: 1px solid $accent;
      }





  &:hover .guide-card__specs::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;

    background:
      radial-gradient(circle at 50% 50%, $lightaccent, $lightaccent 90px, transparent 35px);

    background-size: 400% 400%;
    background-repeat: no-repeat;
    filter: blur(20px);
    animation: randomFloat 7s ease-in-out infinite;
    pointer-events: none;

  }

  .guide-card__specs p {
    // transition: all 0.3s ease-in-out;

    border-bottom: 1px solid $accent;



  }

 &:hover .guide-card__specs-value {
    transform: scale(1.1);
  }

  &:hover .guide-card__specs p {
    border-bottom: 1px solid transparent;



  }




   
    .guide-card__name {
      // align-self: end;
      gap: 15px;

      
    }

.guide-card__specs {
  background: $white;
  color: $dark;
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  // overflow: hidden;
  position: relative;

  & > * {
  transition: all 0.8s ease-in-out;
  }



  > * {
    position: relative;
    z-index: 1;
  }
}

  }


  }





@keyframes randomFloat {
  0%   { background-position: 50% 150%; }
  10% { background-position: 45% 120%; }
  33%  { background-position: 50% 60%; }
  66%  { background-position: 48% 67%; }
  100% { background-position: 50% 150%; }
}


@media (max-width: 1300px) {
  .about__cards {
    grid-template-columns: repeat(2, 1fr); /* Планшет: 2 в ряд */
  }
}

@media (max-width: 576px) {
  .about__cards {
    grid-template-columns: 1fr; /* Мобильный: 1 в ряд */
  }
}