@use "../abstract/variables" as *;

// GC Image

.about__content {
  height: 100%;
  justify-content: space-around;
  gap: 15px;

  .about__header {
    gap: 10px;
  }
}

.guide-card__image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.guide-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.about__cards {
  
  
  gap: 10px;
  height: 100%;


  & > :nth-child(even):hover {
    box-shadow: 10px 10px 20px rgba($semidark, 0.5);
    border: none;
  }

  & > :nth-child(odd):hover {
    box-shadow: -10px 10px 20px rgba($semidark, 0.5);
    border: none;
  }

  .guide-card {
      justify-content: space-between;

    gap: 10px;
    padding: 30px;
    min-width: 300px;
    max-width: 370px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  

  &:hover {

    transform: translateY(-5px);
  }

 &:hover .guide-card__name > * {

        border-bottom: 1px solid $accent;
      }

  &:hover .guide-card__specs::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;

    background:
      radial-gradient(circle at 50% 50%, $lightaccent, $lightaccent 90px, transparent 35px);

    background-size: 400% 400%;
    background-repeat: no-repeat;
    filter: blur(20px);
    animation: randomFloat 5s ease-in-out infinite;
    pointer-events: none;

  }

 &:hover .guide-card__specs-value {
    transform: scale(1.1);
  }

  



   
    .guide-card__name {
      align-items: end;

      
    }

.guide-card__specs {
  background: $white;
  color: $dark;
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  // overflow: hidden;
  position: relative;

  & > * {
  transition: all 0.5s ease-in-out;
  }

  &::before {

  }

  > * {
    position: relative;
    z-index: 1;
  }
}

  }


  }





@keyframes randomFloat {
  0%   { background-position: 45% 50%; }
  33%  { background-position: 50% 60%; }
  66%  { background-position: 48% 67%; }
  100% { background-position: 45% 50%; }
}