@use "../abstract/variables" as *;

// GC Image

.about__content {
  height: 100%;
  justify-content: space-between;
}

.guide-card__image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.guide-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.about__cards {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 45vh);
  gap: 10px;
  height: 100%;


  & > :nth-child(even):hover {
    box-shadow: 10px 10px 20px rgba($button, 0.5);
    border: none;
  }

  & > :nth-child(odd):hover {
    box-shadow: -10px 10px 20px rgba($button, 0.5);
    border: none;
  }

  .guide-card {
    gap: 30px;
    border: 1px solid $button;
    border-radius: 50px;
    padding: 40px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }


  .card-top {
max-width: unset;               
    align-items: stretch;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

   
    .guide-card__name {
      align-items: end;
    }

.guide-card__specs {
  background: $white;
  color: $dark;
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  // overflow: hidden;
  position: relative;




  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    right: -20%;
    bottom: -20%;
    z-index: 0;

    background:
      radial-gradient(circle at 50% 50%, $accent, $accent 100px, transparent 65px);

    background-size: 400% 400%;
    background-repeat: no-repeat;
    filter: blur(20px);
    animation: randomFloat 20s ease-in-out infinite;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

@keyframes randomFloat {
  0%   { background-position: 45% 70%; }
  25%  { background-position: 55% 90%; }
  50%  { background-position: 50% 95%; }
  75%  { background-position: 40% 92%; }
  100% { background-position: 45% 70%; }
}
  }

  .card-bottom {
 width: 100%;                         // ✅ Убираем max-width
    max-width: unset;                    // ✅ Сброс
    align-content: stretch;
    justify-content: space-around;
    gap: 30px;


  }

}


