@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../abstract/funcs" as *;

.comunity {
    height: fit-content;
    min-height: 40vh;

  .comunity__title {
    text-wrap: wrap;
    text-align: center;
  }


  .comunity__content {
    gap: 15px;
  }
  
  .comunity__body {
    width: 100%;

    .comunity__body-text {
      // display: flex;
      width: 100%;
      text-align: justify;
      text-wrap: wrap;
      height: 100%;
    }
  }

  .comunity__actions {
    width: 100%;
    // justify-content: space-between;
    gap: 15px;
    
    @include media('medium', 'small') {
      flex-direction: column;
      
    }

  }

  .comunity__action {
    width: 300px;
  }
}