@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../abstract/funcs" as *;

.footer {
  background-color: $dark;
  color: $white;
  height: fit-content;



  .footer__container {
    padding: 20px 60px;
   justify-content: space-between;
   align-items: flex-start;
   gap: 35px;
   flex-wrap: wrap;

       
    // @include media('medium', 'small') {
    //   flex-direction: column;
      
    // }

   .footer__contacts {
    gap: 10px;
    // width: 30%;
   }

   .footer__socials {
    min-width: 300px;
    max-width: 350px;
    width: 100%;
   }

   .footer__contacts,
   
   .footer__socials {
      align-items: flex-start;
   }



   .social-items,
   .footer__policy {
    gap: 5px;
    
   }

   .social__text > p{
      // @include media(950px, 769px) {
      //   font-size: fluid(16, 12, 950, 769);
      // }
   }


   .social-item-icon {
    height: 24px;
    width: 24px;

   }
 
    .vk {
      height: 30px;
      width: 30px;
    }

    .privacy > a {
        color: $white;
        text-decoration: underline;
        text-underline-offset: 6px;
    }


    .contact-link {
      color: $white;

      // @include media(950px, 769px) {
      //   font-size: fluid(16, 12, 950, 769);
      // }

    }
  }
}


 .footer__policy {
  // width: 30%;
  align-items: flex-end;

 }