@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.hero {
  background-image: url("../../assets/img/port-tiltshift.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// container
.hero__container {
  padding: 60px 0;
}

// titles


// actions

.hero__actions {
  gap: 16px;
}

// labels

.hero__labels {
  gap: 8px;
}

.hero__separator {
  width: 6px;
  height: 6px;
  background-color: $dark;
  border-radius: 50%;
  flex-shrink: 0;

  @include media('medium') {
    width: 20px;
    height: 2px;
    border-radius: 1px;
  }
}
