@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.hero {
  background-image: url("../../assets/img/port-tiltshift.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// container
.hero__container {
   height: 100%;
    min-height: 100%;
    padding: 80px 0 40px;
    margin: 0 auto;
    width: 100%;
}

.hero__header {
  gap: 270px;
}

.hero__footer {
  gap: 35px;
}

.hero__content {
  height: 100%;
justify-content: space-between;
}
// titles

.hero__title {
  gap: 30px;
}

.accented {
  font-family: "Kudry";
  font-size: $font-size-huge;
  height: 100%;
  
}

.lower {
  line-height: 2.7;
}

.thirdString {
  height: 100%;
    line-height: 1.4;
}

.accented-str  {
  height: 70px;
  gap: 10px;
  align-items: flex-end;

}


// actions

.hero__actions {
  gap: 16px;
}

// labels

.hero__labels {
  gap: 8px;
}

.hero__separator {
  width: 6px;
  height: 6px;
  background-color: $dark;
  border-radius: 50%;
  flex-shrink: 0;

  @include media('medium') {
    width: 20px;
    height: 2px;
    border-radius: 1px;
  }
}

