@use "../abstract/variables" as *;

body {
  background-color: $white;
  color: $dark;
}

footer {
  height: 100px;
  background-color: $white;
  border: 1px $dark dotted;
}

.section {
  border: 1px $dark dotted;
  min-height: 100vh;

  &.tours {
    min-height: 70vh;
  }

}