@use "../abstract/variables" as *;

body {
  background-color: $white;
  color: $dark;
}

footer {
  height: 100px;
  background-color: $white;
  border: 1px $dark dotted;
}

.section {
  border: 1px $dark dotted;
  height: 100vh;

  .wrapper {
    padding: 0 8px;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .container {
    height: 100%;
    padding: 60px 0;
  }

  // &.tours {
  //   height: 70vh;
  // }

}