@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.tours {
  height: fit-content;
  min-height: 100vh;

  .tours__container {
    width: 100%;
  }

  .tours__title {
    text-align: center;
  }

  .tours__content {
    height: 100%;
    justify-content: space-around;
    gap: 14px;

    .tours__tabs-container {
      width: 100%;
      height: 100%;
    }

    .tours__tablist {
     width: 100%;

    gap: 5px;
      height: fit-content;
    background-color: $white;
    align-items: flex-end;

    flex-wrap: wrap;
  }

    .tours__tabpanels {
      padding: 20px;
      // width: auto;
        width: 100%;


      border-top: 1px solid $goldenmist;

       @include media(883px, 'small') {
        border-top: 1px solid $white;

       }

    }

    .tours__tabpanel {
      height: auto;
      justify-content: space-around;
              width: 100%;


    }

    .tours__cards {
      align-items: stretch;
      justify-content: center;
      gap: 20px;
      flex-shrink: 1;
      flex-wrap: wrap;
      

      .ex-card {
        justify-content: space-between;
        max-height: 540px;
        background-color: $white;
        width: 400px;
        flex-shrink: 1;
        min-width: 330px;
        // gap: 10px;
               
        
        .ex-card__media {
          overflow: hidden;
          aspect-ratio:  4 / 3;
          // height: 300px;
          // max-height: 300px;
          width: 100%;
          // min-width: 330px;
          flex-shrink: 1; 
                
          .ex-card__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: all 2s ease-in-out;
          }
        }
        
        .ex-card__caption {
          border: 1px $goldenmist solid;
          border-top: none;
          width: 100%;
          flex: 1;


          .ex-card__body {
            padding: 10px;
            gap: 15px;
            flex: 1;
            // flex: none;

            .ex-card__title {

        height: 5.5rem; 

            -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
        

              h3 {
                text-align: center;
                display: inline-block;
              }
            }

            .ex-card__desc {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              margin-bottom: auto;          
            }

            .ex-card__details {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-self: flex-start;
              width: auto;
              gap: 10px;
              position: relative;
              padding: 0 30px 0;
              background-color: transparent;
              cursor: pointer;

              & > * {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.8s ease-in-out;
                z-index: 2;
              }

              &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background-color: $goldenmist;
                border-radius: 20px;
                transition: all 0.8s ease-in-out;
                z-index: 1;
                top: 0;
                left: 0;
              }

              &:hover::before{
                transform: scale(2) translateX(60px);
              }

              &:hover .ex-card__details-arrow {
                transform: translateX(20px);
              }
            }
          }

          .ex-card__footer {
          width: 100%;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0 15px 15px;
          margin-top: auto;
          
            .ex-card__info {
              gap: 5px;
              align-items: flex-start;

              .ex-card__cost {
                gap: 5px;
                align-items: flex-end;              

                .label {
                line-height: 1.5;
                }
              }
                    
              .ex-card__duration {
                border-bottom: 1px $goldenmist solid;
              }
            }
          }
        }



        &:hover .ex-card__img {
          transform: scale(1.2);
        }
      }
    }
  }
}

.extended__container {
  width: 100%;
  margin: 0 auto;
  max-height: 90vh;
  gap: 15px;
  padding: 0 0 15px;
  overflow: visible;

  .extended__header {
    position: relative;
    width: 100%;

    .extended__header-text {
      gap: 20px;
      align-items: flex-end;
      position: absolute;
      bottom: 20px;
      right: 0;

      & > * {
        background-color: $white;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 5px 10px 5px 45px;
      }
    }
  }

  .extended__caption {
    overflow-y: auto;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    scroll-behavior: smooth;
flex-grow: 1;
    padding: 10px 30px;
    gap: 10px;

  }


  .extended__actions {
    width: fit-content;
  }

  .extended__subtitle {
    width: 100%;
    text-align: center;
  }
 
  .extended__profit,
  .extended__text {
    align-items: flex-start;

  }
}


.carousel {
  width: 100%;
  height: 350px; /* можешь поставить 400–450px */
  overflow: hidden;
  position: relative;
}


.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  object-fit: cover; /* заполняет блок полностью */
  display: block;
}


.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 2s ease, opacity 2s ease;
}

.carousel-item.active {
  opacity: 1;
  transform: translateX(0);
}

.carousel-item.active ~ .carousel-item {
  transform: translateX(100%);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carousel-btn:first-of-type {
  left: 5px;
}

.carousel-btn:last-of-type {
  right: 5px;
}


