@use "../abstract/variables" as *;

.tours {

  .tours__content {
    gap: 15px;
    justify-content: space-between;

    .tours__tabs-container {
      // gap: 20px;
      // padding: 0 20px;
    }

    .tours__tabpanels {
      padding: 20px;

background: linear-gradient(
  to bottom,
  $goldenmist 0%,
  $goldenmist 3%,
  $white 5%,
  $white 100%
);

    }

    .tours__cards {
      gap: 20px;
      // height: 100%;
      align-items: stretch;

      .ex-card {
        justify-content: space-between;
        // gap: 15px;
        height: 100%;
        background-color: $white;

        .ex-card__desc {
          max-height: 100px;
        }

        .ex-card__details {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;
          gap: 10px;
        }

        .ex-card__footer {
          width: 100%;
          justify-content: space-between;
          align-items: flex-end;
          padding: 10px;
          
          .ex-card__info {
            gap: 5px;
            align-items: flex-start;
          }
          
          .ex-card__cost {
            gap: 5px;
            align-items: flex-end;              

            .label {
             line-height: 1.5;
            }
          }          
        }
      }
      .ex-card__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.ex-card__body {
  padding: 15px;
  gap: 10px;
  height: 100%;
}

  .tours__tablist {
    width: 100%;
    gap: 5px;
    height: 50px;
    background-color: $white;
    align-items: flex-end;

  }

