@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.tours {

  .tours__content {
    height: 100%;
    justify-content: space-around;

    .tours__tabs-container {
      width: 100%;
      height: 100%;
    }

    .tours__tablist {
    width: 100%;
    gap: 5px;
    height: 50px;
    background-color: $white;
    align-items: flex-end;
  }

    .tours__tabpanels {
      padding: 20px;
      width: auto;
      // background: linear-gradient(
      //   to bottom,
      //   $goldenmist 10%,
      //   $white 15%
      // );
      border-top: 1px solid $goldenmist;

    }

    .tours__tabpanel {
      height: auto;
      justify-content: space-around;

    }

    .tours__cards {
      align-items: stretch;
      justify-content: center;
      gap: 20px;
      flex-shrink: 1;
      

      .ex-card {
        justify-content: space-between;
        height: 540px;
        background-color: $white;
        width: 400px;
        // gap: 10px;
               
        
        .ex-card__media {
          overflow: hidden;
          aspect-ratio:  4 / 3;
          height: 300px;
           flex-shrink: 0; 
                
          .ex-card__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: all 2s ease-in-out;
          }
        }
        
        .ex-card__caption {
          border: 1px $goldenmist solid;
          border-top: none;
          // position: relative;
          width: 100%;
          flex: 1;

          .ex-card__body {
            padding: 10px;
            gap: 10px;
            // flex: 1;
            flex: none;

            .ex-card__title {

        height: 5.5rem; 

            -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
        

              h3 {
                text-align: center;
                display: inline-block;
              }
            }

            .ex-card__desc {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              margin-bottom: auto;          
            }

            .ex-card__details {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-self: flex-start;
              width: auto;
              gap: 10px;
              position: relative;
              padding: 0 30px 0;
              background-color: transparent;
              cursor: pointer;

              & > * {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.8s ease-in-out;
                z-index: 2;
              }

              &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background-color: $goldenmist;
                border-radius: 20px;
                transition: all 0.8s ease-in-out;
                z-index: 1;
                top: 0;
                left: 0;
              }

              &:hover::before{
                transform: scale(2) translateX(60px);
              }

              &:hover .ex-card__details-arrow {
                transform: translateX(20px);
              }
            }
          }

          .ex-card__footer {
          width: 100%;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0 15px 15px;
          margin-top: auto;
          
            .ex-card__info {
              gap: 5px;
              align-items: flex-start;

              .ex-card__cost {
                gap: 5px;
                align-items: flex-end;              

                .label {
                line-height: 1.5;
                }
              }
                    
              .ex-card__duration {
                border-bottom: 1px $goldenmist solid;
              }
            }
          }
        }

        // &:hover .ex-card__title{
        //   border: 1px $goldenmist solid !important;
        //   transform: translateY(-30px);
        //   background: $white;

        //   h3 {
        //     font-family: "Kudry";
        //     font-size: $font-size-xmedium;
        //   }
        // }

        &:hover .ex-card__img {
          transform: scale(1.2);
        }
      }
    }
  }
}
