@use "../base/fonts" as *;

%transition {
  transition: all .3s ease-in-out;
}

%font-main {
  font-family: 'Mulish', Verdana, sans-serif;
}

%font-header {
  font-family: 'Oswald', Verdana, sans-serif;
}