@use "../base/fonts" as *;

%transition {
  transition: all .3s ease-in-out;
}

%font-main {
  font-family: 'MontserratVariable', 'Times New Roman', serif;
}

%font-header {
  font-family: 'Manrope', 'Times New Roman', serif;
}

%accent-font {
  font-family: 'Kudry', 'Times New Roman', serif;
}