// Colors
$dark: rgb(26, 39, 46); // dark baltic sea
$white: rgba(240, 238, 233, 1); // cloud danser
$accent: rgb(121, 182, 216); // baltic sea
$lightaccent: rgba(138, 208, 246, 0.8); // baltic sea
$overlay: rgba(26, 39, 46, 0.6); // dark baltic sea opacity
$semidark: rgba(117, 111, 106, 1); // hematite
$lightdark: rgb(176, 168, 161); // hematite
$goldenmist: rgb(214, 205, 149);

// Font size
$font-size-xsmall: 12px;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-xmedium: 24px;
$font-size-large: 32px;
$font-size-xlarge: 48px;
$font-size-xxlarge: 56px;
$font-size-huge: 68px;
$font-size-xhuge: 116px;

// Spaces
$space-xxs: 8px;
$space-xs: 12px;
$space-sm: 18px;
$space-md: 20px;
$space-lg: 40px;
$space-xlg: 60px;

// Max-width
$max-width: 1440px !default;

