// Colors
$dark: rgba(34, 34, 34, 1);
$white: rgba(255, 255, 255, 1);
$accent: rgb(255, 61, 61);
$overlay: rgba(34, 34, 34, 0.6);

// Font size
$font-size-xsmall: 12px;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-large: 32px;
$font-size-xlarge: 48px;
$font-size-xxlarge: 56px;
$font-size-huge: 68px;
$font-size-xhuge: 116px;

// Spaces
$space-xxs: 8px;
$space-xs: 12px;
$space-sm: 18px;
$space-md: 20px;
$space-lg: 40px;
$space-xlg: 60px;

// Max-width
$max-width: 1440px !default;

