@font-face {
  font-family: Mulish;
  src: url("../src/assets/fonts/Mulish-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Mulish;
  src: url("../src/assets/fonts/Mulish-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Mulish;
  src: url("../src/assets/fonts/Mulish-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Oswald;
  src: url("../src/assets/fonts/Oswald-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Oswald;
  src: url("../src/assets/fonts/Oswald-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
button {
  transition: all 0.3s ease-in-out;
}

p, .hero__labels, .hero__actions {
  font-family: "Mulish", Verdana, sans-serif;
}

h1, h2, h3 {
  font-family: "Oswald", Verdana, sans-serif;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 27.7px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
}

.hero__labels {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
}

.hero__actions {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
  margin: 0 auto;
}

body {
  color: rgb(34, 34, 34);
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

ul {
  list-style-type: none;
}

button {
  all: unset;
}

body.noscroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  background-color: gray;
}

footer,
header {
  height: 100px;
  background-color: turquoise;
}

section {
  border: 1px rgb(34, 34, 34) dotted;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.hero__actions {
  gap: 16px;
}

.hero__labels {
  gap: 8px;
}

.hero__separator {
  width: 6px;
  height: 6px;
  background-color: rgb(34, 34, 34);
  border-radius: 50%;
  flex-shrink: 0;
}
@media all and (max-width: 768px) {
  .hero__separator {
    width: 20px;
    height: 2px;
    border-radius: 1px;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.6666666667));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
button {
  border: none;
  text-align: center;
  cursor: pointer;
}
button.hero__action {
  height: 60px;
  width: 150px;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
  border-radius: 30px;
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
