@use "../abstract/variables" as *;
@use "../abstract/placeholders" as *;

.button {
  border: none;
  text-align: center;
  cursor: pointer;

  height: 40px;
  width: 170px;
  color: $white;
  background-color: $button;
  border-radius: 30px;
  padding: 0 10px;
  @extend %transition;

  &.hero__action {
    background-color: $white;
    color: $button;
  }
}
