@use "../abstract/variables" as *;
@use "../abstract/placeholders" as *;

.button {
  border: 1px $semidark solid;
  text-align: center;
  cursor: pointer;

  height: 40px;
  width: 170px;
  color: $white;
  background-color: $semidark;
  // border-radius: 30px;
  padding: 0 10px;
  @extend %transition;


  &.hero__action {
    background-color: $white;
    color: $semidark;
    border: 1px $white solid;
  }

  &.guide-card__action {
    &:hover {
      background-color: $white;
      border: 1px $accent solid;
      color: $accent;
    }
  }


  &.ex-card__action {
    background-color: $semidark;
    border: 1px $semidark solid;
    color: $white;
  }


  &.comunity__action {
    background-color: $accent;
    border: 1px $accent solid;
    color: $white;


    &:hover {
      background-color: $white;
      border: 1px $lightdark solid;
      color: $semidark;
    }
  }
    

      
      .button__text {
        @extend %transition;
        // font-size: 18px;
        // font-weight: 600;
      }
    
  

  &.tours__tab {
    border: 1px $lightdark solid;
    border-bottom: none;
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: $semidark;
  }

  &.tours__tab--active {
    background-color: $goldenmist;
    // color: $white;
    // transform: translateY(-5px);
    height: 50px;
    border: none;

     .button__text {
        @extend %transition;
        // font-size: 18px;
        font-weight: 600;
      }
  }
}



