// @font-face {
//   font-family: "Roboto Flex";
//   src: url('../src/assets/fonts/RobotoFlex.ttf');
//   font-weight: 100 1000;
//   font-display: swap;
// }

@font-face {
  font-family: "MontserratVariable";
  src: url('/kgb_guides/fonts/MontserratVariable.ttf');
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: "Kudry";
  src: url('/kgb_guides/fonts/kudry.otf');
  // font-weight: 100 1000;
  font-display: swap;
}

// @font-face {
//   font-family: "ComfortaaVariable";
//   src: url('../src/assets/fonts/ComfortaaVariable.ttf');
//   font-weight: 100 1000;
//   font-display: swap;
// }

@font-face {
  font-family: "Manrope";
  src: url('/kgb_guides/fonts/Manrope.ttf');
  font-weight: 100 1000;
  font-display: swap;
}




// @font-face {
//   font-family: Mulish;
//   src: url('/kgb_guides/fonts/Mulish-Medium.ttf');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: Mulish;
//   src: url('/kgb_guides/fonts/Mulish-Regular.ttf');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: Mulish;
//   src: url('../src/assets/fonts/Mulish-Italic.ttf');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: Oswald;
//   src: url('../src/assets/fonts/Oswald-Regular.ttf');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: Oswald;
//   src: url('../src/assets/fonts/Oswald-Light.ttf');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }